@{
    ViewBag.Title = "AboutUs";
    ViewBag.color = "lightblue";
}
@{
    Layout = null;
}
<!DOCTYPE Html>
<html >
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>WOYM-Sign Up</title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <link href="~/Image/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    </head>
    <body style="background-color:lightblue">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <img class="navbar-brand" src="~/Image/favicon.ico" />
                <h4 style="color:lightblue">Term Project of EAD</h4>
            </div>
        </nav>
        <div style="color:HighlightText;text-align:center;background-image:url(~/Image/bckgnd.jpg)">
            <h3>Creator: <strong><i>Izza Naveed</i></strong></h3>
            <h3>Email Address: <strong><i>Bitf11m017@pucit.edu.pk</i></strong></h3>
            <h3>Instructor: <strong><i>Shuja-ur-Rehman</i></strong></h3>
        </div>
    </body>
</html>